<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>getQuestionInformation</name>
        <type>plugin</type>
        <creationDate>2018-06-20</creationDate>
        <lastUpdate>2023-09-12</lastUpdate>
        <author>Denis Chenu</author>
        <authorUrl>https://sondages.pro</authorUrl>
        <version>3.0.0</version>
        <license>GPL</license>
        <description><![CDATA[A tool for other plugins : allow to get question information on a fixed way]]></description>
    </metadata>
    <compatibility>
        <version>3</version>
        <version>5</version>
    </compatibility>
    <updaters disabled="disabled"></updaters>
</config>
